<div class="text-center">
    <form class="form-signin" method="post" action="{{URL_DEFAULT}}/login/acessarLogin">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <label for="inputEmail" class="sr-only">Email</label>
      <input autocomplete="off" type="email" name="input[email]" id="inputEmail" class="form-control" placeholder="Digite seu email" required>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input autocomplete="off" type="password" name="input[senha]" id="inputPassword" class="form-control" placeholder="Digite sua senha" required>
      <br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
    </form>
</div>