{% set URL_DEFAULT = 'http://localhost/semps/suas' %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema</title>

    <!-- Bootstrap core CSS -->
    <link href="{{URL_DEFAULT}}/assets/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <br/><br/><br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        {% include 'login/_formLogin.html' %}
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

  </body>

</html>
