{% set URL_DEFAULT = 'http://localhost/semps/suas' %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema</title>

    <!-- Bootstrap core CSS -->
    <link href="{{URL_DEFAULT}}/assets/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="navbar-toggler-icon"></span>
      </button> <a class="navbar-brand" href="#">Brand</a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{URL_DEFAULT}}/home/indexHome">Home</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="{{URL_DEFAULT}}/usuario/indexUsuario">Usuarios</a>
          </li>
          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider">
              </div> <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
       
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item active">
             <a class="nav-link" href="{{URL_DEFAULT}}/login/sairLogin">SAIR <span class="sr-only">(current)</span></a>
          </li>
          <!--<li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider">
              </div> <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>-->
        </ul>
      </div>
    </nav>
    <!-- Bootstrap core JavaScript -->
    <script src="{{URL_DEFAULT}}/assets/js/lib/jquery-3.3.1.slim.min.js"></script>
    <script src="{{URL_DEFAULT}}/assets/js/lib/bootstrap.bundle.min.js"></script>

    {% block content %}
    {% endblock %}



    <!-- Custom scripts for this template -->
    <script src="{{URL_DEFAULT}}/assets/js/app.js"></script>

  </body>

</html>
